language: node_js
node_js:
  - '6'
before_deploy:
  - openssl aes-256-cbc -K $encrypted_66644bb89341_key -iv $encrypted_66644bb89341_iv -in deploy_key.enc -out /tmp/deploy_key -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_key
  - ssh-add /tmp/deploy_key
deploy:
  provider: script
  skip_cleanup: true
  script: rsync -rvaz --delete-after --exclude-from=./exclude-rsync.txt $TRAVIS_BUILD_DIR/ deploy@139.162.159.229:/var/www/node.scubasys.nl
  on:
    branch: master
before_install:
  - openssl aes-256-cbc -K $encrypted_2c441f967c15_key -iv $encrypted_2c441f967c15_iv -in deploy_rsa.enc -out deploy_rsa -d
